<html>
  <head>
    <style type="text/css">
      body { 
      	background-color: rgb(240, 240, 245);
      	font-family: verdana, arial, helvetica;
      }

      table {
      	border-collapse: collapse;
      }

      table.report {
      	width: 100%;
      }

      table th {
      	text-align: center;
      }

      table td.score {
      	text-align: right;
      }

      table th {
      	background: #dcecff;
      	border: #d0d0d0 1px solid;
      	font-weight: bold;
      }

      table td {
      	border: #d0d0d0 1px solid;
      }

      table tr.light {
       background-color: rgb(240, 240, 245);
      }

      table tr.dark {
       background-color: rgb(230, 230, 235);
      }

    </style>
  </head>
    <h1>All test results</h1>
    <table>
      <thead>
        <tr>
          <th>
            Test Method (Test Class)
          </th>
          <th>
            Duration
          </th>
        </tr>
      </thead>
      <tbody>
        <% sorted_flat_register.each do |test_class, test_method, duration| %>
          <tr>
            <td>
              <%= test_method %>(<%= test_class %>)
            </td>
            <td class="count">
              <%= duration %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>